$primary: #34495e;
$secondary: #f9bf3b;

$container-max-widths: (
  sm: 540px,
  md: 560px,
  lg: 720px,
  xl: 960px
) !default;

$warning: transparentize($secondary, .8);

.work-tile:hover {
  text-decoration: none !important;
}
